<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src="{{manga.preImage}}" alt="">
        </div>
        <div class="col-6">
            <h1>{{manga.nameManga}}</h1>
            <h4 class="text-info">Nội dung:</h4>
            <p class="block-with-text">{{manga.description}}</p>
            <p mr-auto>
                <span class="text-primary">Tags: </span>
                <span class="badge badge-primary" *ngFor="let type of manga.tags">{{type.name}}</span>
            </p>
            <button class="btn-danger">Theo dõi</button>
        </div>
    </div>
    <div class="mt-3">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Chap</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Chap 1</td>
                    <td>12/06/2018</td>
                </tr>
                <tr>
                    <td>Chap 2</td>
                    <td>12/06/2018</td>
                </tr>
                <tr>
                    <td>Chap 3</td>
                    <td>12/06/2018</td>
                </tr>
                <tr>
                    <td>Chap 4</td>
                    <td>12/06/2018</td>
                </tr>
                <tr>
                    <td>Chap 5</td>
                    <td>12/06/2018</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>