<ul >
  <li class="text-center">
    <img src="https://1.bp.blogspot.com/-RogObSbjIqA/WudkbmgGJQI/AAAAAAACE_Y/8dUmUEqX3s8YWII86aCLSp-DQl6m1D56wCHMYCw/003.png?imgmax=16383" alt="">
  </li>
  <li class="text-center">
    <img src="https://1.bp.blogspot.com/-liym67Bg15Y/WudkdMTGjPI/AAAAAAACE_o/haWph8FljnEunNlDgQxuY0YM4Bu7jBlAwCHMYCw/007.png?imgmax=16383" alt="">
  </li>
  <li class="text-center">
    <img src="https://1.bp.blogspot.com/-36JtDtZo484/WudkdvSbkDI/AAAAAAACE_s/nlNSUWBo76wSDVQhSNtddyRgOYiHTC87QCHMYCw/008.png?imgmax=16383" alt="">
  </li>
  <li class="text-center">
    <img src="https://1.bp.blogspot.com/-6ZUDLyOSC8c/Wudkd6SHW8I/AAAAAAACE_w/BlfSlGE7u24NNdiryzZXqSNAurCtd3a9wCHMYCw/009.png?imgmax=16383" alt="">
  </li>
  <li class="text-center">
    <img src="https://1.bp.blogspot.com/-LqelERE99JQ/WudkeULeVoI/AAAAAAACE_0/b94wazTrKwMxFvnGs3CHvckcVbgliH8dgCHMYCw/010.png?imgmax=16383" alt="">
  </li>
  <li class="text-center">
    <img src="https://1.bp.blogspot.com/-K6P5qKMVAFM/Wudkeh-MzWI/AAAAAAACE_4/VqbvlFzKbRMgKPVy-OPCHdCn5aMwp61rgCHMYCw/011.png?imgmax=16383" alt="">
  </li>
  <li class="text-center">
    <img src="" alt="">
  </li>
  <li class="text-center">
    <img src="" alt="">
  </li>
  <li class="text-center">
    <img src="" alt="">
  </li>

</ul>