<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->

        <input type="text" #username id="username" class="fadeIn second" name="username" placeholder="Username...">
        <input type="password" #password id="password" class="fadeIn third" name="password" placeholder="Password...">
        <input type="password" id="repassword" class="fadeIn third" name="rePassword" placeholder="Retype password...">
        <input type="text" #name id="name" class="fadeIn fourth" name="name" placeholder="Your beautiful name...">
        <input type="text" #email id="email" class="fadeIn fourth" name="email" placeholder="Email address">

        <input type="submit" class="fadeIn fourth" value="Register" (click)="add(username.value, password.value, name.value, email.value)">

    </div>
</div>