<h1>Truyện đang theo dõi:</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Tên truyện</th>
            <th scope="col">Chương mới nhất</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Naruto</td>
            <td>Chương 2</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>DragonBall</td>
            <td>Chương 3</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Doraemon</td>
            <td>Chương 4</td>
        </tr>
    </tbody>
</table>